.card {
    //FUNCTIONALITY
    perspective: 150rem;
    -moz-perspective: 150rem;//this is so that mozilla browser can implement this style
    position: relative;
    height: 50rem;//because of the absolute posiioning of the child elememnt it took the parent element out of its natural flow and therefore lost the height.
    //for that reason the perspective was not there anymore(remember that our instructor emphasizd about height(big one) when he introduced perspective property to us. 
    //for float, we would've used a clearfix but for positioning we just added the height that the child element possess to the parent element. It would take a while to fully grasp this but I will


    &__side {
        color: #fff;
        font-size: 2rem;
        background-color: orangered;

        height: 50rem;
        transition: all .8s;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        backface-visibility: hidden;
        border-radius: 3px;
        box-shadow: 0 1.3rem 4rem rgba($color-black, .15);

        &--front {
            background-color: #fff;
            color: $color-black; 
        }

        &--back {
            transform: rotateY(180deg);

            &-1 {
                background-image: linear-gradient(to bottom right, $color-secondary-light, $color-secondary-dark);
            }
        } 
    }
    

    &:hover &__side--front {
        transform: rotateY(-180deg);
    }

    &:hover &__side--back {
        transform: rotateY(0);
    }

    //FRONT SIDE STYLING
    &_picture {
        background-size: cover;

        &--1 {
            background-image: url(../img/nat-5.jpg);
        }
    }
}

