.u-center-text { text-align: center;}

.u-margin-bottom-small { margin-bottom: 1.5rem};
.u-margin-bottom-medium { margin-bottom: 4rem};
.u-margin-bottom-big { margin-bottom: 8rem;}






       
























/*.section-about-center { text-align: center;}

.secondary-margin-bottom {   margin-bottom: $gutter-horizontal;}
.tertiary-margin-bottom {  margin-bottom: 2rem;}
.paragraph-margin-bottom { margin-bottom: 4rem;}*/




