
/* colours:
Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485
*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    color: #777;
    /*font-size: 16px;*/
    line-height: 1.7rem;
    padding: 3rem;
}

.header {
    height: 95vh;
    background: linear-gradient(to left, #7ed56fa8, #28b485e8), url(../img/hero.jpg);
    background-size: cover;
    background-position: top;
    
    clip-path: polygon(0 0,480% 0, 0 670px, 0 130%);
    position: relative;
}

.header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem;
}

.header__Logo {
    height: 3.5rem;
}

.header__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-header {
    text-transform: uppercase;
    color: #fff;
    
    margin-bottom: 6rem;
    backface-visibility: hidden;
} 

.big--header {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    padding: 2.8rem;
    letter-spacing: 3.5rem;
    animation: moveInLeft 2s ease-out;
    margin-bottom: 2.7rem;
    
    
}

.small--header {
    display: block;
    font-size: 2rem;
    font-weight: 750;
    letter-spacing: 1.79rem;
    
    animation: moveInRight 2s ease-out;

}


@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-4rem);
    }
    70% {
        opacity: .7;
        transform: translateX(2rem);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

 
@keyframes moveInRight { 
    0% {
        opacity: 0;
        transform: translateX(4rem);
    }
    70% {
        opacity: .7;
        transform: translateX(1.5rem);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveUp { 
    0% {
        opacity: 0;
        transform: translateY(4rem);
    }
   
    100% {
        opacity: 1;
        transform: translate(0);
    }
}  


.btn:link,
.btn:visited {
    text-decoration: none;
    text-transform: uppercase;
    background-color: #ffffff;
    padding: 2rem 4rem;
    border-radius: 10rem;
    display: inline-block;
    position: relative;

}

.btn--white {
    background-color: #fff;
    color: #777777;
}
  
.btn:hover {
    transform: translateY(-0.4px);
    box-shadow: .5rem 1rem 1.5rem  rgba(0, 0, 0, 0.27);
} 
 
.btn--white:active {
    transform: translateY(.2px);
}
 
.btn::after {
    content: " ";
    /*display: inline-block;*/
    width: 100%;
    height: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    
    transition: all .2s;
}

.btn--white::after {
    background-color: white;
}

.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.5);
    opacity: 0;
}

.btn--animated {
    animation: moveUp .5s ease-out;

}






